/*

*******************************************************************
************************COFFEE BEAN********************************
*******************************************************************

*/

.bean {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 50%;
    background-color: $bgColor;
    position: absolute;
    top: 20vh;
    left: 20vw;
    transform: rotate(25deg);
}

.bean-fixed {
    position: fixed;
}

.bean-large {
    transform: scale(2,2) rotate(-45deg);
}