/*

*******************************************************************
************************VARIABLES**********************************
*******************************************************************

*/

/* colors */
$beanColor: #E0061C;
$stalkColor: #377210;


/* media queries */
$tablet: "760px";
$desktop: "1025px";